.banner {
    border: 1px dotted gray;
    width: 100%;
    background-color: $neutral-300;

    .banner-container {
        border: 1px dotted blue;
        max-width: 1440px;
        width: 37.2%;
        margin: 0 auto;
        padding: 4rem 0;

        .banner-heading {
            padding-bottom: 0.2rem;
            font-size: 1rem;
            font-weight: 500;
        }
        .banner-content {
            color: $neutral-500;
            font-weight: 650;
        }
    }
}

@media (max-width: 834px) {
    .banner-container {
        min-width: 90%;
    }
}
