* {
    margin: 0;
    padding: 0;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
a,
img,
blockquote,
input {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
    overflow-wrap: break-word;
    hyphens: auto;
}

ul {
    list-style: none;
}

// ---------

.wrapper {
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
}
button {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    display: block;
}
html {
    background-color: $neutral-100;
}
