.footer {
    width: 100%;
    background-color: $neutral-100;
    border-top: 1px solid $neutral-400;
}
.footer-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2.3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.logo-media,
.copyright-terms {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    font-weight: 500;
}

.logo-media {
    align-items: center;
    font-size: 0.7rem;
}

.media-container {
    display: flex;
    gap: 0.5rem;
}

.copyright-terms {
    color: $neutral-500;
}
.copyright-terms a {
    text-decoration: underline;
    display: inline;
}

@media (max-width: 835px) {
    .footer-wrapper {
        // border: 2px solid magenta;
        width: 90%;
    }
}
@media (max-width: 480px) {
    .copyright-terms {
        flex-direction: column;
        gap: 0.35rem;
    }
}
