// styling logo
.home-logo {
    color: $white;
}

// styling main menu
.header-container {
    max-width: 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2.8rem;
    padding: 0 2rem;
    background-color: $black;

    .main-menu {
        display: flex;

        .mm-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .mm-list-item {
                color: $white;

                .item {
                    padding-left: 0.5rem;
                    text-transform: uppercase;
                    &:hover {
                        color: $yellow;
                    }
                }
                .active {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                }
                .inactive {
                    color: $white;
                }
            }
        }
    }
}

// MAIN MENU styling
// HAMBURGER btn
.ham-btn {
    width: 2rem;
    height: 2rem;
    background-color: inherit;
    color: $white;
    border: none;
    .hamburgerIcon {
        width: 65%;
        height: 65%;
    }
}

// SIDE BAR stylinig
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    transition: $main-transition;
    transform: translate(-100%);
    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
    }

    .sm-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 50px);

        .sm-list-item {
            width: 100%;
            .sm-item {
                display: block;
                text-transform: uppercase;
                color: $white;
                width: 100%;
                text-align: center;
                border-top: 1px solid $neutral-500;
                padding: 1.3rem 0;
            }
            .sm-active {
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }

        .sidebar-footer {
            width: 100%;
            .footer-text {
                border-top: 1px solid $neutral-500;
                padding: 1.3rem 0;
                color: $neutral-400;
                text-align: center;
                font-size: 0.6rem;
                font-weight: 100;
            }
        }
    }
}
.close-btn {
    width: 1rem;
    height: 1rem;
    background-color: inherit;
    color: $white;
    border: none;
    .close-icon {
        width: 100%;
        height: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.show-sidebar {
    transform: translate(0);
}
.ham-btn {
    display: none;
}

@media (max-width: 710px) {
    .header {
        padding: 0 0.7rem;
    }
    .ham-btn {
        display: block;
    }
    .header .main-menu .mm-list {
        display: none;
    }
}
