.header {
    padding: 10px;
    background-color: $main-black;
    color: $font-white;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-bar {
    width: 60%;
}
.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar ul li {
    line-height: 2;
    font-size: 1.2rem;
}
