.nav-bar {
  background-color: $black;
  padding: 2.2rem 1.2rem;
  color: $white;
  height: 3.25rem;

  .mobile-navigation {
    display: none;
    position: absolute;
    right: 0;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }
  a:hover {
    text-decoration: underline;
  }

  .burger {
    position: absolute;
    right: 1rem;
    top: -1rem;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .nav-bar {
    .navigation {
      display: none;
    }
    .logo {
      position: absolute;
      top: -1rem;
      left: 1rem;
    }
    .mobile-navigation {
      display: flex;
      width: 100%;
      color: $white;
      background-color: $black;
      position: absolute;

      .nav-with-footer {
        width: 100%;
      }
      p {
        font-size: 0.55rem;
        font-weight: 400;
        padding: 1.5rem 0;
        text-align: center;
      }
    }

    .mobile-navigation ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-top: 7.5rem;
    }

    .mobile-navigation ul li {
      width: 100%;
      padding: 1.5rem 0;
      border-top: 1px solid $neutral-500;
      text-align: center;
      &:last-child {
        border-bottom: 1px solid $neutral-500;
      }
    }
  }
}
