.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .category-title {
        width: 100%;
        text-transform: capitalize;
        color: $black;
    }
    .contributor {
        display: grid;
        grid-template-columns: repeat(2, minmax(278px, 1fr));
        gap: 1rem;
        margin-top: 1.5rem;

        .personCard {
            // border: 2px solid blue;

            border: 1px solid $neutral-400;
            border-radius: 10px;
            outline: none;

            .profile-link {
                display: flex;
                flex-direction: row;
                border-radius: 10px;
                padding: 0.1rem;
                outline: 0;

                // first child of profile link
                .profile-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    width: 20%;
                    min-width: 3.8rem;
                    img {
                        border-radius: 10px;
                        width: 100%;
                    }
                }

                //second child of profile link
                .profile-content {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-left: 0.4rem;

                    .profile-name {
                        width: 100%;
                        // text-transform: capitalize;
                        color: $black;
                        margin-bottom: 5px;
                    }
                    .title {
                        width: 100%;
                        color: $neutral-500;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

// section-description
.section-description {
    text-transform: capitalize;
}

// styling on hover

.personCard {
    transition: $main-transition;
    .profile-link {
        border-radius: 10px;
    }
    &:hover {
        background-color: $black;
        #name,
        #title {
            color: $white;
        }
    }
}

// space between the footer
.students {
    margin-bottom: 4rem;
}

// media-queries

@media (max-width: 835px) {
    .section-description {
        display: none;
    }
}
@media (max-width: 785px) {
    .group .contributor .profile-link .profile-content {
        width: 100%;

        .profile-name {
            font-size: 0.8rem;
        }

        .title {
            font-size: 0.6rem;
        }
    }
}

@media (max-width: 690px) {
    .group .contributor {
        grid-template-columns: 1fr;
    }
}
