// person nav
.person-nav {
    background-color: $light-white-bg;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1rem;

    a,
    span {
        font-size: 0.8rem;
        margin: 0.3rem 0.1rem;
        text-transform: capitalize;
    }
    a {
        border-bottom: 1px solid $gray;
    }
    span {
        margin-right: 4px;
    }

    .person-contact ul {
        display: flex;

        .item {
            display: flex;
            align-items: center;
            margin: 0 0.5rem;
        }
        .email {
            text-transform: lowercase;
        }
    }
}

// end of person nav

// person-main page
.person-profile {
    display: flex;
    width: 100vw;
    max-height: calc(100vh - 200px);
}
.profile {
    flex-grow: 1;
    overflow: scroll;
    width: 85%;
    background-color: $font-white;

    // first child of profile
    .header {
        display: flex;
        background-color: $banner-gray-bg;
        border-bottom: 1px solid $gray-border;
        width: 100%;
        height: 13rem;
        padding: 0;
        .content {
            position: relative;
            top: 3.2rem;

            .person-image {
                border-radius: 10px;
                width: 258px;
                padding: 4px;
                border: 1px solid $gray-border;

                img {
                    border-radius: 10px;
                }
            }
        }
    }

    // second child of profile
    .body {
        background-color: $lighter-tan;
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        -webkit-box-align: center;
        -webkit-box-orient: vertical;

        //first child of body
        .body-content {
            .name {
                font-size: 1.8rem;
                letter-spacing: 0.25px;
                font-weight: 700;
                text-transform: capitalize;
            }
            .titles {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 0.4rem;

                h3 {
                    font-weight: 600;
                    font-size: 0.9rem;
                    line-height: 1rem;
                    color: $h3-bada-bing;
                    padding: 5px 9px 2.7px;
                    text-transform: capitalize;
                    border: 1px solid $gray-border;
                    border-radius: 4px;
                }
            }
        }

        // second child of body
        .tags {
            display: flex;
            flex-wrap: wrap;
            max-width: 30rem;
            margin-top: 1rem;
            gap: 6px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            // justify-content: center;

            li {
                background-color: rgba(230, 227, 216, 1);
                border-radius: 3px;
                padding: 4px 8px 2.5px;
                font-weight: 600;
                font-size: 0.7rem;
                letter-spacing: 0.7px;
                color: #1a1a1a;
            }
        }

        //third child of body
        .bio {
            max-width: 35rem;
            padding-top: 3rem;

            p {
                // border: 2px solid red;
                font-size: 0.9rem;
                line-height: 1.2rem;
                letter-spacing: 0.15px;
                margin: 1rem 0;
            }
        }
    }
}

// right pane styling
.link-list {
    overflow: scroll;
    flex-shrink: 2;

    background-color: $lighter-tan;

    .content {
        // border: 2px solid blue;
        padding: 3.4rem;
        h3 {
            // border: 2px solid red;
            font-weight: 700;
            font-size: 1rem;
            color: $h3-bada-bing;
            text-transform: capitalize;
            margin-bottom: 1.7rem;
        }
    }
}

.project-list {
    width: 80%;
    li a {
        text-decoration: underline;
        text-decoration-color: $gray-border;
    }
}

.date-container {
    display: flex;
    p {
        text-transform: capitalize;
    }
}

.underline {
    width: 100%;
    height: 1px;
    background: $gray-border;
}

// person wrapper to keep image and its text content in the middle
.person-wrapper {
    padding-left: 20%;
}

.person-wrapper-body {
    width: 95%;
}

@media screen and (max-width: 1236px) {
    .body-content .titles {
        justify-content: center;
    }

    .profile .body .tags {
        justify-content: center;
    }

    .link-list .content {
        padding-left: 5px;
        padding-right: 0px;
        h3 {
            font-size: 0.8rem;
        }
    }
    .project-list,
    .publication-list li {
        font-size: 0.8rem;
        min-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .profile .body .body-content .name {
        text-align: center;
        font-size: 1.2rem;
    }

    .body-content .titles {
        justify-content: center;
    }
    .profile .body .body-content .titles h3 {
        font-size: 0.7rem;
    }
    .profile .body .tags {
        justify-content: center;
        li {
            font-size: 0.6rem;
        }
    }
    .person-wrapper-body {
        width: 100%;
        padding-left: 10px;
    }
}
