.programs {
  .programs-border:not(:last-child) {
    border-bottom: 1px solid $neutral-400;
  }
  .programs-wrapper {
    color: $soft-black;
    padding-bottom: 3rem;
  }

  .programs-container {
    .programs-title {
      color: $black;
    }

    .programs-link {
      padding: 1rem 0;
    }
    .programs-description {
      padding: 1rem 0;
    }

    .programs-link {
      background-color: $neutral-200;
      padding: 1rem 2rem;
      border-radius: 0.25rem;
      .programs-anchor {
        display: inline;
        text-decoration: underline;
      }
    }
  }
}
