// Project Details Navbar
.pdnav-container {
    background-color: $neutral-400;
    .pd-link {
        padding: 0.5rem 0;
    }

    .pd-nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 2rem;

        .pd-path {
            display: flex;
            align-items: center;
            .pathItem2,
            .pathItem3 {
                padding-left: 0.2rem;
                text-transform: capitalize;
            }
            .pathItem1 {
                text-decoration: underline;
                text-underline-offset: 4px;
                text-transform: capitalize;
            }
        }

        // nav menu
        .pd-main-menu {
            display: none;

            .pd-menu-item:not(:last-child) {
                // border: 2px solid magenta;
                padding-right: 0.5rem;
            }
            .pd-active {
                color: $black;
            }
            .pd-inactive {
                color: $neutral-500;
            }
        }
    }
}

// ----end of navbar styling-------------------------------------
// ----diving main page into left and right pane---------------------
.project-details {
    // border: 4px solid red;
    display: flex;
    width: 100vw;
    max-height: calc(100vh - 200px);
}
// dividing main page into 2 panes, left pane 80% and right 20%
// LEFT Pane
.pd-leftpane {
    width: 85%;
    border: 1px solid $neutral-400;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 1px;
        height: 0;
        background-color: $neutral-400;
    }
}
// Right Pane of vertical Scroll styling
.right-pane {
    overflow: scroll;
    border-top: 1px solid $neutral-400;
    border-bottom: 1px solid $neutral-400;

    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background-color: $neutral-400;
    }
}

// LEFT PANE OF VERTICAL SCROLL styling
// giving left and right padding to body and image container

@media (max-width: 835px) {
    .pdnav-container .pd-nav .pd-main-menu {
        display: flex;
        align-items: center;
    }
    .pd-path {
        min-width: 170px;
    }
}
@media (max-width: 375px) {
    .pdnav-container .pd-nav {
        margin: 0;
    }
    .pd-nav {
        min-width: 100%;
    }
    .pd-link {
        font-size: 0.6rem;
    }
    .pd-path {
        width: 100%;
        border-bottom: 1px solid $neutral-500;
        .pathItem1,
        .pathItem2,
        .pathItem3 {
            padding-left: 0.5rem;
        }
    }
    .pd-main-menu {
        width: 100%;
        padding-left: 0.4rem;
    }
}
