.heading-container,
.custom-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 0;
  h2 {
    font-size: 2.1rem;
    font-weight: 700;
  }
}

.custom-arrow {
  justify-content: center;
  &:hover {
    text-decoration: underline;
  }
}
.project-container {
  max-width: 25rem;
  height: 16rem;
  background-color: $neutral-300;
  padding: 1rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: $black;
    color: $white;
    .project-title {
      color: $white;
    }
    .tag-container > .tag-box {
      border: 1px solid $white;
    }
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  .project-title {
    color: $neutral-500;
  }

  .subtitle {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .project-description {
    padding-top: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .tag-container {
    padding-top: 1.2rem;
    display: flex;

    .tag-box {
      padding: 0.5rem;
      border: 1px solid $neutral-400;
      border-radius: 0.1rem;
    }
  }
}
