//-search bar-
// strip off all default styling
.form,
fieldset,
select,
input {
    padding: 0;
    margin: 0;
    border: 0;
    appearance: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    &::placeholder {
        color: inherit;
    }
}
// styling all 3 common input and select boxes
.bx {
    width: 100%;
    padding: 0.6rem 0.7rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid $neutral-400;
    background-color: $white;
    color: $neutral-500;
}

// -individual styling-
.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;

    .child1 {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(
            2,
            minmax(calc(6.65rem - 0.5rem), calc(7.75rem - 0.5rem))
        );

        gap: 0.5rem;
    }

    // .child2 is the container for search bar which is not present right now
    .child2 {
        grid-column: 5/-1;
        cursor: pointer;
        position: relative;
    }
}
//-adding icons-
.filterBx {
    padding-left: 22%;
    background-image: url('../assets/filter.svg'),
        url('../assets/downArrow.svg');
    background-repeat: no-repeat;
    background-size: 0.9rem, 0.6rem;
    background-position: 4%, 92%;
    text-transform: lowercase;
    cursor: pointer;
    color: $soft-black;

    &::placeholder {
        color: $neutral-500;
        opacity: 1;
        text-transform: uppercase;
    }
}

.sortBx {
    padding-left: 1.2rem;
    background-image: url('../assets/downArrow.svg');
    background-repeat: no-repeat;
    background-size: 0.6rem;
    background-position: 90% 50%;
    cursor: pointer;
    text-transform: capitalize;

    .op {
        color: $soft-black;
    }
}

.searchBx {
    padding-left: 17%;
    background-image: url('../assets/magnifier.svg');
    background-repeat: no-repeat;
    background-size: 0.9rem;
    background-position: 1.5%, 92%;
    color: $soft-black;
    cursor: normal;

    &::placeholder {
        color: $neutral-500;
        opacity: 1;
    }
}
.close-search-btn {
    border: none;
    background-color: inherit;
    position: absolute;
    top: 25%;
    right: 4%;
    // -------------
    // position: fixed;
    // top: 28.6%;
    // right: 20.3%;
    // ------------
    // position: fixed;
    // top: 35%;
    // right: 0;

    cursor: pointer;

    .close-img {
        width: 0.8rem;
        background-color: inherit;
    }
}

// SUBMENU STARTS
.main-subform {
    // width: 208.5%;
    min-width: 13.5%;
    background-color: $white;
    // border: 2px solid red;
    position: absolute;

    .subform-container {
        border: 1px solid $neutral-400;
        border-radius: 4px;
        margin-bottom: 10px;

        .subform-header {
            padding: 1rem 0.6rem;
            .top-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-transform: uppercase;

                .clear-btn {
                    border: none;
                    background-color: inherit;
                    text-transform: uppercase;
                    color: $neutral-500;
                    cursor: pointer;
                }
            }
            .item-selected {
                margin-top: 0.3rem;
            }
        }

        .underline {
            width: 90%;
            margin: 0 auto;
        }

        .subform-main {
            .sel {
                display: block;
                width: 100%;
                cursor: pointer;
                padding: 1rem 0.6rem;
                // border-top: 1px solid $neutral-400;

                .placeholder {
                    // display: none;
                    color: $neutral-500;
                }

                background-image: url('../assets/downArrow.svg');
                background-repeat: no-repeat;
                background-size: 0.6rem;
                background-position: 95% 50%;

                .op {
                    cursor: pointer;
                }
            }
            .view-result-btn {
                border: none;
                background-color: inherit;
                text-transform: uppercase;
                width: 90%;
                border-radius: 4px;
                background-color: $soft-black;
                color: $neutral-100;
                letter-spacing: 1px;
                margin: 1.5rem auto 1rem auto;
                padding: 0.4rem 0rem;
                cursor: pointer;
            }
        }
    }
}

// total result found section
.result-found-container {
    // border: 2px solid red;
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .result-found {
        text-transform: capitalize;
    }
    .clear-filters-btn {
        // border: 2px solid red;
        border: none;
        background-color: inherit;
        text-transform: uppercase;
        color: $neutral-500;
        cursor: pointer;
        letter-spacing: 1px;
    }
}

// filtered tags
.filtered-tags-container {
    // border: 2px solid red;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;

    .filt-btn {
        border: none;
        display: flex;
        align-items: center;
        padding: 0.3rem 0.4rem;
        border-radius: 4px;

        justify-content: space-between;
        cursor: pointer;

        .close-img {
            // border: 2px solid red;
            margin-left: 0.3rem;
            width: 0.6rem;
        }
    }
}
