// SEARCH BAR STYLING
// strip off all default styling
.form,
fieldset,
select,
input {
    padding: 0;
    margin: 0;
    border: 0;
    appearance: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    &::placeholder {
        color: inherit;
    }
}
.bx {
    width: 100%;
    padding: 0.6rem 0.7rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid $neutral-400;
    background-color: $white;
    color: $neutral-500;
}

// styling starts
.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .child1 {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(
            2,
            minmax(calc(6.65rem - 0.5rem), calc(7.75rem - 0.5rem))
        );
        gap: 0.5rem;
    }
    .child2 {
        grid-column: 4/-1;
        display: grid;
        grid-template-columns: repeat(1, minmax(2.2rem, 8.7rem));
        gap: 0.5rem;
        justify-content: flex-end;
    }
}
// adding icons
.filterBx {
    // border: 2px solid blue;
    &::placeholder {
        padding-left: 1.2rem;
        background-image: url('../assets/filter.svg'),
            url('../assets/downArrow.svg');
        background-repeat: no-repeat;
        background-size: 0.9rem, 0.6rem;
        background-position: 0 100%, 100% 0;
    }
}

.sortBx {
    padding-left: 1.2rem;
    background-image: url('../assets/downArrow.svg');
    background-repeat: no-repeat;
    background-size: 0.6rem;
    background-position: 90% 50%;
}

.searchBx {
    &::placeholder {
        padding-left: 1.2rem;
        background-image: url('../assets/magnifier.svg');
        background-repeat: no-repeat;
        background-size: 0.8rem;
        background-position: 0 100%, 100% 0;
    }
}

// --------------------------------------------------------------------
.publication-list {
    // background-color: #fdfaf1;

    .content {
        padding: 4rem 0 0 0rem;
        // border: 2px solid red;

        .content-container {
            margin: 0 auto;

            .year {
                margin-top: 2rem;
                font-weight: 500;
            }
            .publications {
                // margin-top: 1rem;

                .publications-list-item {
                    // padding: 8px 9px;
                    border: 1px solid $neutral-400;
                    border-radius: 5px;
                    // border: 4px solid red;
                    margin-top: 1.3rem;

                    .publication {
                        // border: 2px solid magenta;
                        // border-top: 1px solid $neutral-400;
                        .meta-container {
                            // border: 2px solid black;

                            // border: 2px solid green;
                            padding: 0;
                            margin: 0;
                            // margin-top: 1.3rem;
                            // border: 5px solid goldenrod;

                            margin: 1.3rem 1rem 0 2.1rem;

                            // 1st child of meta-container
                            .meta {
                                // border: 2px dotted red;
                                // margin: 1.3rem 1rem 0 2.1rem;
                                display: flex;
                                text-transform: capitalize;
                                justify-content: space-between;
                                align-items: center;

                                .publication-type {
                                    padding: 0.4rem 0.45rem;
                                    border-radius: 5px;
                                    text-transform: uppercase;
                                }
                                .journal {
                                    // border: 2px solid red;
                                    color: $journal-col;
                                    background-color: $journal-bg;
                                    &:hover {
                                        border: 1px solid $journal-col;
                                    }
                                }
                                .popular {
                                    color: $popular-col;
                                    background-color: $popular-bg;
                                    &:hover {
                                        border: 1px solid $popular-col;
                                    }
                                }

                                .top-link {
                                    background-color: $neutral-300;
                                    border-radius: 4px;
                                    padding: 0.4rem 0.45rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: $black;
                                    font-size: 1rem;
                                    &:hover {
                                        background-color: $neutral-500;
                                        color: $neutral-100;
                                    }
                                }
                            }

                            // 2nd child of meta-container
                            .heading {
                                font-weight: 400;
                                color: $black;
                                margin-top: 1.3rem;

                                .heading-url {
                                    display: inline-flex;
                                    align-items: center;
                                    border-radius: 5px;
                                    border: 1px solid $neutral-400;
                                    color: $black;
                                    margin-left: 5px;
                                    // padding: 0.4rem;
                                    padding: 3px 6px;

                                    svg {
                                        margin-left: 3px;
                                        font-size: 0.9rem;
                                        font-size: 1rem;
                                    }
                                    &:hover {
                                        background-color: $black;
                                        color: $white;
                                        border-color: $black;
                                    }
                                }
                            }
                        }
                    }
                    .authors-container {
                        border-top: 1px solid $neutral-400;
                        margin-top: 1.3rem;
                        .authors {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 1.3rem 1rem 1.3rem 2.1rem;

                            .auth-heading {
                                padding-top: 5px;
                                text-transform: capitalize;
                                color: $neutral-500;
                            }

                            .authors-list {
                                margin: 0 1.1rem;

                                .author {
                                    display: inline-block;
                                    margin: 0 3px;

                                    .author-link {
                                        color: $black;

                                        text-decoration: underline;
                                        text-decoration-color: $black;
                                        text-decoration-thickness: 1px;
                                        text-underline-offset: 4px;
                                    }
                                }
                            }
                        }
                    }

                    .featured-projects-container {
                        border-top: 1px solid $neutral-400;
                        margin-top: 1.3rem;

                        .featured-projects {
                            display: flex;
                            justify-content: space-between;
                            margin: 1.3rem 1rem 1.3rem 2.1rem;
                            // padding: 0.8rem 15px;

                            .featured-projects-heading {
                                // padding-top: 0.4rem;
                                text-transform: capitalize;
                                width: 20%;
                                display: flex;
                                justify-content: flex-start;
                                padding-top: 5px;
                                text-transform: capitalize;
                                color: $neutral-500;
                            }

                            .project-list {
                                // min-width: calc(80% - 20% - 1.1rem);
                                max-width: 75%;

                                padding: 0;
                                display: flex;
                                // justify-content: center;
                                align-items: center;

                                .project {
                                    color: $black;
                                    text-decoration: none;

                                    .project-link {
                                        color: $black;
                                        text-decoration: underline;
                                        text-decoration-color: $black;
                                        text-decoration-thickness: 1px;
                                        text-underline-offset: 4px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 834px) {
    .featured-projects-container {
        // border: 2px solid red;

        .featured-projects {
            // border: 2px solid green;
            display: flex;

            .featured-projects-heading {
                // border: 2px solid magenta;
                min-width: 160px;
                // font-size: 0.7rem;
            }

            .project-list {
                // border: 2px solid black;
                min-width: 180px;
                width: 90%;

                // gap: 10px;

                .project {
                    // display: inline;
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    // adjusting the LINK size on journal
    .publication-list
        .content
        .content-container
        .publications
        .publications-list-item
        .publication
        .meta-container
        .heading
        .heading-url {
        margin: 10px 0px 0px 0px;
        padding: 3px 6px;
    }

    // tweaking author-list
    .publication-list
        .content
        .content-container
        .publications
        .publications-list-item
        .authors-container
        .authors
        .authors-list {
        margin: 0;
        padding-top: 0.5rem;
        margin-left: 0;
    }

    .authors-container {
        .authors {
            margin: 0;
            flex-direction: column;
            text-align: left;
            justify-content: flex-start;
            align-items: flex-start;

            .auth-heading {
                align-self: flex-start;
                width: 100%;
            }
            .authors-list {
                padding: 0;
                align-self: flex-start;
                width: 100%;

                .author {
                    margin: 0;
                    width: 100%;
                }
            }
        }
    }

    .featured-projects-container {
        .featured-projects {
            flex-direction: column;

            .featured-projects-heading {
                min-width: 100%;
            }

            .project-list {
                min-width: 100%;
                margin-top: 0.5rem;
                padding: 1rem 0;

                .project-link {
                    margin: 0;
                }
            }
        }
    }
}
