.publication-list {
    background-color: #fdfaf1;

    .content {
        padding: 4.3rem 0 2rem;

        .content-container {
            max-width: 40rem;
            margin: 0 auto;

            h2 {
                padding-left: 1.1rem;
                font-weight: 600;
                color: #7b7668;
            }
            .publications {
                margin: 1.6rem 0 2.8rem;

                .publications-list-item {
                    padding-top: 1.1rem;
                    border: 1px solid #dbd7c7;
                    border-radius: 5px;
                    box-shadow: 0px 0.5px 1.1px -1px rgba(0, 0, 0, 0.19),
                        0px 4px 4px -1px rgba(0, 0, 0, 0.118);

                    .publication {
                        padding: 0 1.1rem;

                        // 1st child of publication
                        .meta {
                            display: flex;
                            text-transform: capitalize;
                            justify-content: space-between;
                            align-items: center;

                            .publication-type {
                                padding: 0.2rem 0.4rem 0.15rem;
                                border-radius: 5px;
                                font-weight: 600;
                                font-size: 0.8rem;
                                text-transform: uppercase;
                                letter-spacing: 0.5px;
                            }
                            .journal {
                                color: #384f9c;
                                background-color: #ecece9;
                                &:hover {
                                    border: 1px solid #384f9c;
                                }
                            }
                            .popular {
                                color: #074f58;
                                background-color: #e8efeb;
                                &:hover {
                                    border: 1px solid #074f58;
                                }
                            }

                            .top-link {
                                background-color: #f3f1e7;
                                border-radius: 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #7b7668;
                                font-size: 1.3rem;
                                &:hover {
                                    background-color: #7b7668;
                                    color: #f3f1e7;
                                }
                            }
                        }

                        // 2nd child of publication
                        .heading {
                            margin: 0.9rem 0;

                            p {
                                line-height: 30px;
                            }
                            .heading-url {
                                position: relative;
                                display: inline-flex;
                                align-items: center;
                                font-size: 16px;
                                border-radius: 5px;
                                border: 1px solid #dbd7c7;
                                color: #1a1a1a;
                                font-weight: 500;
                                padding: 1px 6px 0.5px;
                                margin-left: 10px;

                                svg {
                                    margin-left: 3px;
                                    color: #7b7668;
                                    font-size: 1rem;
                                }
                                &:hover {
                                    background-color: #1a1a1a;
                                    color: #fdfaf1;
                                    border-color: #1a1a1a;
                                }
                            }
                        }
                    }
                    .authors {
                        display: flex;
                        justify-content: flex-start;
                        padding: 0.7rem 1.1rem;
                        border-top: 1px solid #dbd7c7;
                        align-items: center;
                        h4 {
                            padding-top: 5px;
                            text-transform: capitalize;
                            font-size: 0.8rem;
                            color: #8c8573;
                            letter-spacing: 0.25px;
                        }

                        .authors-list {
                            margin: 0 1.1rem;

                            .author {
                                display: inline-block;
                                font-weight: 600;
                                margin: 0 3px;

                                .author-link {
                                    font-size: 0.8rem;
                                    color: #1a1a1a;
                                    letter-spacing: 0.2px;
                                    text-decoration: underline;
                                    text-decoration-color: #dbd7c7;
                                    text-decoration-thickness: 1px;
                                    text-underline-offset: 3px;
                                }
                            }
                        }
                    }
                    .featured-projects {
                        display: flex;
                        padding: 0.8rem 15px;
                        border-top: 1px solid #dbd7c7;

                        .featured-projects-title {
                            // padding-top: 0.4rem;
                            font-size: 0.8rem;
                            text-transform: capitalize;
                            letter-spacing: 0.2px;
                            color: #8c8573;
                            width: 20%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // border: 2px solid goldenrod;
                        }

                        .project-list {
                            // border: 2px solid blue;
                            margin: 0 1.1rem;
                            list-style-type: upper-roman;
                            min-width: calc(80% - 20% - 1.1rem);
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // max-width: 100%;
                            // list-style-position: inside;

                            .project {
                                font-size: 0.7rem;
                                letter-spacing: 0.2px;
                                line-height: 25px;
                                color: #1a1a1a;
                                text-decoration: none;

                                .project-link {
                                    // border-bottom: 1px solid #dbd7c7;
                                    font-weight: 700;
                                    text-decoration: underline;
                                    text-decoration-color: #dbd7c7;
                                    text-decoration-thickness: 1px;
                                    text-underline-offset: 3px;
                                    // text-decoration: none;
                                    // border: 2px solid goldenrod;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
