//-search bar-
// strip off all default styling
.form,
fieldset,
select,
input {
	padding: 0;
	margin: 0;
	border: 0;
	appearance: none;
	outline: none;
	color: inherit;
	background-color: inherit;
	&::placeholder {
		color: inherit;
	}
}
// styling all 3 common input and select boxes
.bx {
	width: 100%;
	padding: 0.6rem 0.7rem;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid $neutral-400;
	background-color: $white;
	color: $neutral-500;
}

// -individual styling-
.form {
	display: flex;
	justify-content: space-between;

	.child1 {
		display: flex;
		position: relative;
		gap: 10px;

		.subMenu {
			position: absolute;
			top: 50px;
			left: 0;
		}
	}

	.child2 {
		display: flex;
	}

	.subchild1, .subchild2 {
		width: 150px;
	}
	.expand-search {
		display: flex;

		// .searchBx {
		// 	padding-left: 8%;
		// }
	}
}

//-adding icons-
.filterBx {
	padding-left: 22%;
	background-image: url("../assets/filter.svg"), url("../assets/downArrow.svg");
	background-repeat: no-repeat;
	background-size: 0.9rem, 0.6rem;
	background-position: 4%, 92%;
	text-transform: lowercase;
	cursor: pointer;
	color: $soft-black;
	text-transform: uppercase;
	color: $neutral-500;

	&::placeholder {
		color: $neutral-500;
		opacity: 1;
		text-transform: uppercase;
	}
}

.sortBx {
	// padding-left: 1.2rem;
	padding-left: 0.5rem;
	background-image: url("../assets/downArrow.svg");
	background-repeat: no-repeat;
	background-size: 0.6rem;
	background-position: 90% 50%;
	cursor: pointer;
	// text-transform: capitalize;
	text-transform: uppercase;

	.op {
		color: $soft-black;
	}
}

.searchBx {
	padding-left: 17%;
	background-image: url("../assets/magnifier.svg");
	background-repeat: no-repeat;
	background-size: 0.9rem;
	background-position: 1.5%, 92%;
	color: $soft-black;
	cursor: normal;
	border-radius: 5px 0 0 5px;

	&::placeholder {
		color: $neutral-500;
		opacity: 1;
	}
}
.commonCloseBtn {
	border: none;
	background-color: inherit;
	cursor: pointer;

	.close-img {
		display: none;
		width: 0.8rem;
		background-color: inherit;
	}
}

.search-button {
	background-color: $soft-black;
	text-transform: uppercase;
	color: $neutral-100;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
}

// SUBMENU STARTS
.main-subform {
	min-width: 310px;
	background-color: $white;
	position: absolute;

	.subform-container {
		border: 1px solid $neutral-400;
		border-radius: 4px;
		margin-bottom: 10px;

		.subform-header {
			padding: 1rem 0.6rem;
			.top-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				text-transform: uppercase;

				.clear-btn {
					border: none;
					background-color: inherit;
					text-transform: uppercase;
					color: $neutral-500;
					cursor: pointer;
				}
			}
			.item-selected {
				margin-top: 0.3rem;
			}
		}

		.underline {
			width: 90%;
			margin: 0 auto;
		}

		.subform-main {
			.sel {
				display: block;
				width: 100%;
				cursor: pointer;
				padding: 1rem 0.6rem;
				// border-top: 1px solid $neutral-400;

				.placeholder {
					// display: none;
					color: $neutral-500;
				}

				background-image: url("../assets/downArrow.svg");
				background-repeat: no-repeat;
				background-size: 0.6rem;
				background-position: 95% 50%;

				.op {
					cursor: pointer;
				}
			}
			.view-result-btn {
				border: none;
				background-color: inherit;
				text-transform: uppercase;
				width: 90%;
				border-radius: 4px;
				background-color: $soft-black;
				color: $neutral-100;
				letter-spacing: 1px;
				margin: 1.5rem auto 1rem auto;
				padding: 0.4rem 0rem;
				cursor: pointer;
			}
		}
	}
}

// total result found section
.result-found-container {
	// border: 2px solid red;
	margin: 1rem 0rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	.result-found {
		text-transform: capitalize;
	}
	.clear-filters-btn {
		// border: 2px solid red;
		border: none;
		background-color: inherit;
		text-transform: uppercase;
		color: $neutral-500;
		cursor: pointer;
		letter-spacing: 1px;
	}
}

// filtered tags
.filtered-tags-container {
	// border: 2px solid red;
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin-top: 1rem;

	.filt-btn {
		border: none;
		display: flex;
		align-items: center;
		padding: 0.3rem 0.4rem;
		border-radius: 4px;

		justify-content: space-between;
		cursor: pointer;

		.close-img {
			// border: 2px solid red;
			margin-left: 0.3rem;
			width: 0.6rem;
		}
	}
}

@media (max-width: 550px) {
	.form {
		flex-direction: column;

		.subchild1,
		.subchild2 {
			width: 50%;
			margin-bottom: 10px;
		}

		.subMenu {
			right: 0;
		}

		.main-subform {
			left: 0 !important;
			right: 0 !important;
		}
	}
}