// !COLORS
$main-black: #000000;
$main-white: #fff;
$hover-black: #1a1a1a;
$darker-tan: #f3f1e7;
$lighter-tan: #fdfaf1;
$gray: #a5a395;
$lightest-dot: #d5d0c4;
$middle-dot: #b6b0a1;
$darkest-dot: #aca697;
$h3-bada-bing: #7b7668;
$font-white: #fdfaf1;
$gray-dark: #404040;
$gray-border: #dbd7c7;

// !FONTS
$page-title: 'Sculpin Variable';
$body: 'MD System Variable';
